PORT=5000

NODE_ENV=development

# MongoDB DataBase URL  
DB_URL=mongodb://localhost:27017/task-management

# Origins list of URI allow to access the API server
ORIGIN=["http://localhost:3000" , "http://139.59.58.108/"]

BACKEND_URL=http://localhost:5000
  
API_ROUTES=/api/v1/

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@1234
# For this  
ACTIVATION_SECRET=TWFuIGlzIGRpasdc3Rpbmd1aXNoZWQsIG5vdCBvbmxasdf5IGJ5IGhpcyByZWFzb24sIGJ1dCAuLi4

REFRESH_TOKEN=V2VsY29tZSB0byB0asdfaGUgd29ybGQgb2YgQmFzasfeZTY0IQ

ACCESS_TOKEN=SGVsbG8sIHRoasdfeaXMgaXMgYSBzYW1wbGUgQmFzZTY0IHN0cmluZyEh

JWT_SECRET=SGVsbG8sIHRoasdfeaXMgaXMgYSBzYW1wbGUgQmFzZTY0IHN0cmluZyEh

ACCESS_TOKEN_EXPIRE=1h